bcrypt==3.1.0
cycler==0.10.0
defusedxml==0.4.1
Django==1.10.2
dj-database-url==0.4.1

django-stormpath==1.1.0
isodate==0.5.4
matplotlib==1.5.3
numpy==1.11.2
oauthlib==1.0.3
opencv-python==3.1.0
PyDispatcher==2.0.5
PyJWT==1.4.2
pyparsing==2.1.10
python-dateutil==2.5.3
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
stormpath==2.4.5

psycopg2==2.6.2

whitenoise==3.2


gunicorn==19.6.0