{% for item in Projects %}
 <button id = "HIDEBUTTON{{item.Project_ID}}" value='hide/show'>{{item.Project_ID}}
    </button>
    <div id="DIV{{item.Project_ID}}">
        <div id="DIVLAYERCOUNT{{item.ProjectID}}">
            Layers: <input type="text" id="DIVLAYERCOUNTLABEL{{item.Project_ID}}" value={{item.Layers}} readonly="readonly" />
                <form id = "LAYERCOUNTEDITFORM{{item.Project_ID}}" action="return false;" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="LayerCountNew{{item.Project_ID}}" name="LayerCountNew{{item.Project_ID}}" value="N/A">
                    <input type="hidden" id="LayerCountOrig{{item.Project_ID}}" name="LayerCountOrig{{item.Project_ID}}" value="N/A">
                </form>
                <button id="DIVLAYERCOUNTUP{{item.Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('up');">+</button>
                <button id="DIVLAYERCOUNTDOWN{{item.Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('down');">-</button>
        </div>
        <div id="UAWAVYDUDE{{item.Project_ID}}">Hello! Its not working...</div>
        Neurons Per Layer:
            {% for x in item.Neurons_per_Layer %}
                <div id="DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}">
                    Layer {{forloop.counter}}: <input type="text" id="DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}" value={{x}} readonly="readonly" />
                    <button id="DIVNEURONLAYERUP{{forloop.counter}}{{item.Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('up');">+</button><button id="DIVNEURONLAYERDOWN{{forloop.counter}}{{item.Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('down');">-</button>
                    Neurons
                    <script>
                        function setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}(upordown) {
                            var quantity = document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}");

                            if (DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}.value > 1) {
                                if (upordown == 'up')
                                {
                                    ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                                }
                                else if (upordown == 'down')
                                {
                                    --document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                                }
                            }
                            else if (quantity.value == 1)
                            {
                                if (upordown == 'up')
                                {
                                    ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                                }
                            }
                            else
                            {
                                document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value=1;
                            }
                        }
                    </script>
                </div>
            {% endfor %}

            <script>
            jQuery(document).ready(function(){
                jQuery("#DIV{{item.Project_ID}}").toggle('show');
                jQuery("#HIDEBUTTON{{item.Project_ID}}").on('click', function(event) {
                    jQuery("#DIV{{item.Project_ID}}").toggle('show');
                });
            });

            function setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}(upordown) {
                var quantity = document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}");

                if (DIVLAYERCOUNTLABEL{{item.Project_ID}}.value > 1) {
                    if (upordown == 'up')
                    {
                        ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                        LAYERCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                    }
                    else if (upordown == 'down')
                    {
                        --document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                        LAYERCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                    }
                }
                else if (quantity.value == 1)
                {
                    if (upordown == 'up')
                    {
                        ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                        LAYERCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                    }
                }
                else
                {
                    document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value=1;
                    LAYERCOUNTEDITFORM{{item.Project_ID}}SUBMIT();

                }
            }
        </script>
    </div>
<script>
    function LAYERCOUNTEDITFORM{{item.Project_ID}}SUBMIT(){
        var Neurons = "";
        for(i = 0; i <= {{item.NeuronLength}}; i++)
        {   var iString = i.toString()
            Neurons = Neurons.concat($('#DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}').val());
            console.log('#DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}');
        }
        console.log(Neurons);
        $.ajax({
            type:'POST',
            url:'{% url 'editproject' %}',
            datatype:"json",
            async: true,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                layers:$('#DIVLAYERCOUNTLABEL{{item.Project_ID}}').val(),
                projectid:'{{item.Project_ID}}',
            },
	        success: function(json){
	            console.log('hello world');
	            $('#UAWAVYDUDE{{item.Project_ID}}').html(json);
	        }
        });
    }
</script>
{% endfor %}