{% for item in Projects %}
    <div id = "DIV{{item.Project_ID}}" class = "ProjectDiv">
        <div class="row z-depth-0">
            <div class="row z-depth-1 col s12 ProjectTabs">
                <ul class="tabs" style="color:#5e35b1">
                    <div class="indicator #5e35b1 deep-purple darken-1" style="z-index:1"></div>
                    <li class="tab active" style = "color:#5e35b1 !important;"><a href="#Structure{{item.Project_ID}}">Structure</a></li>
                    <li class="tab"><a href="#Settings{{item.Project_ID}}">Settings</a></li>
                </ul>
            </div>
            <div id="Structure{{item.Project_ID}}" class="col s12 ProjectDivMain"> {% include 'ProjectDiv.html' %} </div>
            <div id="Settings{{item.Project_ID}}" class="col s12 ProjectDivMain">
                <a class = "btn green hoverable" onclick = "REQUESTKEY{{item.Project_ID}}();">Request New Key</a>
                <a class = "btn-large red hoverable" onclick = "DELETEPROJECT{{item.Project_ID}}();">Delete</a>
            </div>
        </div>
    </div>
    <script>
    function TOGGLEDIV{{item.Project_ID}}()
        {
            $("#ProjectTable").slideUp("slow", function()
            {
                $('#BreadNav').html('<a id="ProjectBreadcrumb" href="#!" class="breadcrumb">My Projects</a><a href="#!" id = "NewBread" class="breadcrumb">{{item.Project_ID}}</a>');
                $('#DIV{{item.Project_ID}}').slideDown(1000);
                $('ul.tabs').tabs();
            });
        }
    function DELETEPROJECT{{item.Project_ID}}(){
        if(confirm("Deleting this project will erase the connection between you and your data.\n This CANNOT be undone.\n Are you sure you want to continue?"))
        {
            $.ajax({
            type:'POST',
            url:'{% url 'deleteproject' %}',
            datatype:"json",
            async: true,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                projectid:'{{item.Project_ID}}',
            },
	        success: function(json){
	            $('#projects').html(json);
	            $('#BreadNav').html('<a id="ProjectBreadcrumb" href="#!" class="breadcrumb">My Projects</a>');
	        }
            });
        }
    }
    function PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT(){
        var Neurons = "";
        for(i = 1; i <= $('#DIVLAYERCOUNTLABEL{{item.Project_ID}}').val(); i++)
        {   var iString = i.toString();
            if(i != 1)
            {
                Neurons = Neurons.concat(',');
            }
            if($('#DIVNEURONLAYERLABEL'+iString+'{{item.Project_ID}}').length)
            {
                Neurons = Neurons.concat($('#DIVNEURONLAYERLABEL'+iString+'{{item.Project_ID}}').val());
            }
            else
            {
                Neurons = Neurons.concat('1');
            }

        }
        $.ajax({
            type:'POST',
            url:'{% url 'editproject' %}',
            datatype:"json",
            async: true,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                layers:$('#DIVLAYERCOUNTLABEL{{item.Project_ID}}').val(),
                projectid:'{{item.Project_ID}}',
                neurons:Neurons,
            },
	        success: function(json){
	            $('#Structure{{item.Project_ID}}').html(json );
	            if("#DIV{{item.Project_ID}}" != "#DIV".concat('{{ProjectID}}'))
                {
                    //jQuery("#DIV{{item.Project_ID}}").toggle('show');
                }
	        }
        });
    }
    function REQUESTKEY{{item.Project_ID}}(){
            $.ajax({
            type:'POST',
            url:'{% url 'newkey' %}',
            datatype:"json",
            async: true,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                projectid:'{{item.Project_ID}}',
            },
	        success: function(json){
	            $("body").append('<iframe src="/getkey?'+ $.param(json) + '" style="display: none;" ></iframe>');
	        }
            });
    }
</script>

{% endfor %}

<script>
    $( document ).ready(function(){
            $(".dropdown-button").dropdown({ hover: false, constrainWidth: false,});
        });
</script>