 <div id="DIVLAYERCOUNT{{item.Project_ID}}">
                    Layers: <input type="text" id="DIVLAYERCOUNTLABEL{{item.Project_ID}}" value="{{item.NeuronLength}}" readonly="readonly" />
                    <button id="DIVLAYERCOUNTUP{{Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{Project_ID}}('up');">+</button>
                    <button id="DIVLAYERCOUNTDOWN{{Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{Project_ID}}('down');">-</button>
                </div>
                {% for x in Neurons_Per_Layer %}
                <div id="DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}" class = "ProjectDivMain">
                    Layer {{forloop.counter}}: <input type="text" id="DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}" value={{x}} readonly="readonly" />
                    <button id="DIVNEURONLAYERUP{{forloop.counter}}{{Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{Project_ID}}('up');">+</button>
                    <button id="DIVNEURONLAYERDOWN{{forloop.counter}}{{Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{Project_ID}}('down');">-</button>
                    Neurons
                    <script>
                        function setQuantityDIVNEURONLAYER{{forloop.counter}}{{Project_ID}}(upordown) {
                            var quantity = document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}");

                            if (DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}.value > 1) {
                                if (upordown == 'up')
                                {
                                    ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}").value;
                                    PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                                }
                                else if (upordown == 'down')
                                {
                                    --document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}").value;
                                    PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                                }
                            }
                            else if (quantity.value == 1)
                            {
                                if (upordown == 'up')
                                {
                                    ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}").value;
                                    PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                                }
                            }
                            else
                            {
                                document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{Project_ID}}").value=1;
                                PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                            }
                        }
                    </script>
                </div>
            {% endfor %}
                <script>

            function setQuantityDIVLAYERCOUNTLABEL{{Project_ID}}(upordown) {
                var quantity = document.getElementById("DIVLAYERCOUNTLABEL{{Project_ID}}");

                if (DIVLAYERCOUNTLABEL{{Project_ID}}.value > 1) {
                    if (upordown == 'up')
                    {
                        ++document.getElementById("DIVLAYERCOUNTLABEL{{Project_ID}}").value;
                        PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                    }
                    else if (upordown == 'down')
                    {
                        --document.getElementById("DIVLAYERCOUNTLABEL{{Project_ID}}").value;
                        PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                    }
                }
                else if (quantity.value == 1)
                {
                    if (upordown == 'up')
                    {
                        ++document.getElementById("DIVLAYERCOUNTLABEL{{Project_ID}}").value;
                        PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();
                    }
                }
                else
                {
                    document.getElementById("DIVLAYERCOUNTLABEL{{Project_ID}}").value=1;
                    PROJECTCOUNTEDITFORM{{Project_ID}}SUBMIT();

                }
            }
                </script>