<ul class ="collapsible" data-collapsible="accordion">
    <li id="DIVLAYERCOUNT{{item.Project_ID}}">
        <div id="DIVLAYERCOUNT{{item.Project_ID}}HEADER" class = "collapsible-header mainheader active"><h5>Layers: {{item.NeuronLength}}</h5></div>
        <div class = "collapsible-body">
            <form action="#">
                <p class="range-field">
                    <!--<input type="range" id="DIVLAYERCOUNTLABEL{{item.Project_ID}}" value = "{{item.NeuronLength}}"  min = "0"  max="100"/>--> 
                    <input type="text" id="DIVLAYERCOUNTLABEL{{item.Project_ID}}" value="{{item.NeuronLength}}" readonly="readonly"/>
                    <button id="DIVLAYERCOUNTUP{{item.Project_ID}}" class="btn-dark" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('up');">+</button>
                    <button id="DIVLAYERCOUNTDOWN{{item.Project_ID}}" class="btn-dark" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('down');">-</button>
                </p>
            </form>
        </div>
    </li>
    {% for x in item.Neurons_Per_Layer %}
        <li id="DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}">
            <div id="DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER" class = "collapsible-header">Layer {{forloop.counter}}</div>
            <div class = "collapsible-body">
                            Neurons
                <input type="text" id="DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}" value={{x}} readonly="readonly" />
            <div style="display: inline-block">
            <button id="DIVNEURONLAYERUP{{forloop.counter}}{{item.Project_ID}}" class="btn-dark" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('up');">+</button>
            <button id="DIVNEURONLAYERDOWN{{forloop.counter}}{{item.Project_ID}}" class="btn-dark" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('down');">-</button>
             <button class="btn-dark" style="background: green !important; width: auto; font-weight: normal !important; font-size: medium !important;" onclick="save{{forloop.counter}}{{item.Project_ID}}()">Save</button>
            </div>
                <script>
                function setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}(upordown)
                {
                    var quantity = document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}");
                    if (DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}.value > 1)
                    {
                        if (upordown == 'up')
                        {
                            ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                            //PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER");
                        }
                        else if (upordown == 'down')
                        {
                            --document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                           //PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER");
                        }
                    }
                    else if (quantity.value == 1)
                    {
                        if (upordown == 'up')
                        {
                            ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                            //PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER");
                        }
                    }
                    else
                    {
                        document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value=1;
                        //PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER");
                    }
                }

                function save{{forloop.counter}}{{item.Project_ID}}()
                {
                    PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}HEADER");
                }

            </script>
            </div>
        </li>
    {% endfor %}
</ul>



<script>
    function setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}(upordown)
    {
        var quantity = document.getElementById("#DIVLAYERCOUNTLABEL{{item.Project_ID}}");
        if (DIVLAYERCOUNTLABEL{{item.Project_ID}}.value > 1) {
            if (upordown == 'up')
            {
                ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVLAYERCOUNT{{item.Project_ID}}HEADER");
            }
            else if (upordown == 'down')
            {
                --document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVLAYERCOUNT{{item.Project_ID}}HEADER");
            }
        }
        else if (quantity.value == 1)
        {
            if (upordown == 'up')
            {
                ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVLAYERCOUNT{{item.Project_ID}}HEADER");
            }
        }
        else
        {
            document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value=1;
            PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT("#DIVLAYERCOUNT{{item.Project_ID}}HEADER");
        }
    }
</script>