<ul class ="collapsible" data-collapsible="accordion">
    <li id="DIVLAYERCOUNT{{item.Project_ID}}">
        <div class = "collapsible-header mainheader"><h3>Layers: {{item.NeuronLength}}</h3></div>
        <div class = "collapsible-body">
            <p class="range-field">
                <input type="range" id="DIVLAYERCOUNTLABEL{{item.Project_ID}}" value="{{item.NeuronLength}}" min = "0" readonly="readonly" />
                <button id="DIVLAYERCOUNTUP{{item.Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('up');">+</button>
                <button id="DIVLAYERCOUNTDOWN{{item.Project_ID}}" onclick="setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}('down');">-</button>
            </p>
        </div>
    </li>
    {% for x in item.Neurons_Per_Layer %}
        <li id="DIVNEURONSPERLAYER{{forloop.counter}}{{item.Project_ID}}">
            <div class = "collapsible-header">Layer {{forloop.counter}}</div>
            <div class = "collapsible-body">
                <input type="text" id="DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}" value={{x}} readonly="readonly" />
            <button id="DIVNEURONLAYERUP{{forloop.counter}}{{item.Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('up');">+</button>
            <button id="DIVNEURONLAYERDOWN{{forloop.counter}}{{item.Project_ID}}" onclick="setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}('down');">-</button>
            Neurons
            <script>
                function setQuantityDIVNEURONLAYER{{forloop.counter}}{{item.Project_ID}}(upordown)
                {
                    var quantity = document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}");
                    if (DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}.value > 1)
                    {
                        if (upordown == 'up')
                        {
                            ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                            PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                        }
                        else if (upordown == 'down')
                        {
                            --document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                            PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                        }
                    }
                    else if (quantity.value == 1)
                    {
                        if (upordown == 'up')
                        {
                            ++document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value;
                            PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                        }
                    }
                    else
                    {
                        document.getElementById("DIVNEURONLAYERLABEL{{forloop.counter}}{{item.Project_ID}}").value=1;
                        PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
                    }
                }
            </script>
            </div>
        </li>
    {% endfor %}
</ul>



<script>
    function setQuantityDIVLAYERCOUNTLABEL{{item.Project_ID}}(upordown)
    {
        var quantity = document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}");
        if (DIVLAYERCOUNTLABEL{{item.Project_ID}}.value > 1) {
            if (upordown == 'up')
            {
                ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
            }
            else if (upordown == 'down')
            {
                --document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
            }
        }
        else if (quantity.value == 1)
        {
            if (upordown == 'up')
            {
                ++document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value;
                PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
            }
        }
        else
        {
            document.getElementById("DIVLAYERCOUNTLABEL{{item.Project_ID}}").value=1;
            PROJECTCOUNTEDITFORM{{item.Project_ID}}SUBMIT();
        }
    }
</script>