<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="author" content="Coderthemes">

    	<title>Echelon Lab - Cloud-based Machine Learning</title>
	  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    	{% load static %}
	  		<script src="{% static 'tracker/Home/jquery.min.js' %}"></script>
			<script src="{% static 'tracker/Home/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'tracker/Home/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'tracker/Home/skel.min.js' %}"></script>
			<script src="{% static 'tracker/Home/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'tracker/Home/main.js' %}"></script>
	  		<link rel = "stylesheet" href="{% static 'tracker/Home/main.css' %}">
    	<script>
      		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      		ga('create', 'UA-64308715-1', 'auto');
      		ga('send', 'pageview');
    	</script>
  	</head>
  	<body>
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#two">Our Platform</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
		<div id="wrapper">
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Echelon Lab</h1>
							<p>A cloud-based machine learning platform that optimizes for fast and accurate predictions based on large scale personalized data</a>.</p>
							<ul class="actions">
								<li><a href="#two" class="button scrolly">Learn more</a></li>
								<li><a href="{% url 'login' %}" class="button">Get Started</a></li>
							</ul>
						</div>
					</section>


				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Our Platform</h2>
							<p>Built around scability, our platform allows developers to easily integrate machine learning processes through a cloud-enabled service.</p>
							<div class="features">
								<section>
									<span class="icon major fa-server"></span>
									<h3>Easily Integratable</h3>
									<p>Our service is easily integratable through a REST API, allowing you to add machine learning to any process.</p>
								</section>
								<section>
									<span class="icon major fa-columns"></span>
									<h3>Split Network Architecture</h3>
									<p>We use an in-house developed algorithmic solution to optimize multi-class classification for datasets.
                                    </p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Secure</h3>
									<p>End-to-end encryption using OAuth2 and SSL.</p>
								</section>
								<section>
									<span class="icon major fa-line-chart"></span>
									<h3>Optimized for Personal Data</h3>
									<p>Our split-network artificial neural networks allow to create generalizations and classifications for specific datasets while preserving finer features that would be compromised through pooling.</p>
								</section>

							</div>
<!--
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
-->
						</div>
					</section>
                
                <section id="four" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Our Team</h2>
							<p>Meet the people who keep Echelon running</p>
							<div class="features">
								<section>
									<span class="icon major fa-server"></span>
									<h3>Easily Integratable</h3>
									<p>Our service is easily integratable through a REST API, allowing you to add machine learning to any process.</p>
								</section>
								<section>
									<span class="icon major fa-columns"></span>
									<h3>Split Network Architecture</h3>
									<p>We use an in-house developed algorithmic solution to optimize multi-class classification for datasets.
                                    </p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>Secure</h3>
									<p>End-to-end encryption using OAuth2 and SSL.</p>
								</section>
								<section>
									<span class="icon major fa-line-chart"></span>
									<h3>Optimized for Personal Data</h3>
									<p>Our split-network artificial neural networks allow to create generalizations and classifications for specific datasets while preserving finer features that would be compromised through pooling.</p>
								</section>

							</div>
<!--
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
-->
						</div>
					</section>




				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>We are in a closed beta program right now; if you are interested in joining our beta program or reaching out to us, feel free to contact us!</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
<!--
										<li>
											<h3>Address</h3>
											<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
										</li>
-->
										<li>
											<h3>Email</h3>
											<a href="emailto:contact@echelonlab.com">contact@echelonlab.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(480) 414-3912</span>
										</li>
<!--
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
-->
									</ul>
								</section>
							</div>
						</div>
					</section>



		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2017 Echelon Lab LLC. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->

			</div>

	</body>
</html>