<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="867858739826-0j8s1vplsccuqcha9tng77pmrpc49mam.apps.googleusercontent.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Echelon</title>
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% load static %}
	  <script src="{% static 'tracker/Home/jquery.min.js' %}"></script>
			<script src="{% static 'tracker/Home/jquery.min.js' %}"></script>
			<script src="{% static 'tracker/Home/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'tracker/Home/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'tracker/Home/skel.min.js' %}"></script>
			<script src="{% static 'tracker/Home/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'tracker/Home/main.js' %}"></script>
	  <link rel = "stylesheet" href="{% static 'tracker/Home/main.css' %}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64308715-1', 'auto');
      ga('send', 'pageview');

    </script>

  <script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    var id_token = googleUser.getAuthResponse().id_token;
    document.getElementById("TokenID").value = id_token;
    document.getElementById("SignInForm").submit();
}

function onSignUp(googleUser) {
    var profile = googleUser.getBasicProfile();
    var id_token = googleUser.getAuthResponse().id_token;
    document.getElementById("TokenIDUp").value = id_token;
    document.getElementById("Email").value = profile.getEmail();
    document.getElementById("SignUpForm").submit();
}

function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
        console.log('hello');
      });
    }
</script>
  </head>



<body>

  <!-- Pre-loader
  <div class="preloader">
     <div class="status">&nbsp;</div>
  </div>-->
	<head>
		<title>Echelon Lab - Cloud-based Machine Learning</title>
		<meta charset="utf-8" />
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Log In</a></li>
							<li><a href="#two">Sign Up</a></li>
<!--							<li><a href="#one">Team</a></li>-->
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Log In</h1>
							<ul class="actions">
                                <div class="g-signin2" data-onsuccess="onSignIn"></div>
								<li><a href="#SignUp" class="button scrolly">Sign Up</a></li>
							</ul>
						</div>
					</section>


				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Sign Up</h2>
							<p>Connect your google account to get started.</p>
                            <div id="my-signin2"></div>
							<script>
    							function renderButton() {
      								gapi.signin2.render('my-signin2', {
        								'scope': 'profile email',
        								'width': 240,
        								'height': 50,
        								'longtitle': true,
        								'theme': 'dark',
        								'onsuccess': onSuccess,
        								'onfailure': onFailure
      								});
    							}
 							</script>

<!--
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
-->
						</div>
					</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2017 Echelon Lab LLC. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->


				</div>
	</body>
  <form id = "SignInForm" action="{% url 'viewuserdata' %}" method="post">
{% csrf_token %}
    <input type="hidden" id = "TokenID" name="TokenID" value="Not Logged In">
</form>
  <form id = "SignUpForm" action="{% url 'createnewuser' %}" method="post">
{% csrf_token %}
    <input type="hidden" id = "TokenIDUp" name="TokenID" value="Not Logged In">
    <input type="hidden" id = "Email" name="Email" value="Not Logged In">
</form>
</html>
