<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="google-signin-client_id" content="867858739826-0j8s1vplsccuqcha9tng77pmrpc49mam.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>Echelon</title>
</head>
<body>
<a href = "{% url 'credits' %}">Manage Credits</a>
<a onclick="signOut();">Sign out</a>Hello World
<form id = "SignOutForm" action="{% url 'signout' %}" method="post">
{% csrf_token %}
</form>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        document.getElementById("SignOutForm").submit();
        });
    }
    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
{% for item in Projects %}
    <button id = "HIDEBUTTON{{item.Project_ID}}" value='hide/show'>{{item.Project_ID}}
    </button>
    <div id="DIV{{item.Project_ID}}">
        <div id="DIVLAYERCOUNT{{item.ProjectID}}">
            Layers: <input type="text" id="DIVLAYERLABEL{{item.Project_ID}}" value={{item.Layers}} readonly="readonly" />
            <button id="DIVLAYERCOUNTUP{{item.Project_ID}}" onclick="setQuantityDIVLAYERLABEL{{item.Project_ID}}('up');">+</button>
            <button id="DIVLAYERCOUNTDOWN{{item.Project_ID}}" onclick="setQuantityDIVLAYERLABEL{{item.Project_ID}}('down');">-</button>
        </div>
        Neurons Per Layer:
            {% for x in Neurons.1 %}
                <div id="DIV {{item.Project_ID}} NEURONSPERLAYER {{forloop.counter}}">
                    Layer {{forloop.counter}}: {{x}} Neurons
                </div>
            {%endfor%}
    </div>
    <script>
        jQuery(document).ready(function(){
            jQuery("#HIDEBUTTON{{item.Project_ID}}").on('click', function(event) {
                jQuery("#DIV{{item.Project_ID}}").toggle('show');
            });
        });
        function setQuantityDIVLAYERLABEL{{item.Project_ID}}(upordown) {
            var quantity = document.getElementById("DIVLAYERLABEL{{item.Project_ID}}");

            if (DIVLAYERLABEL{{item.Project_ID}}.value > 1) {
                if (upordown == 'up')
                {
                    ++document.getElementById("DIVLAYERLABEL{{item.Project_ID}}").value;
                }
                else if (upordown == 'down')
                {
                    --document.getElementById("DIVLAYERLABEL{{item.Project_ID}}").value;
                }}
                else if (quantity.value == 1)
                {
                    if (upordown == 'up')
                    {
                        ++document.getElementById("DIVLAYERLABEL{{item.Project_ID}}").value;
                    }
                }
            else
            {
                document.getElementById("DIVLAYERLABEL{{item.Project_ID}}").value=1;
            }
        }
    </script>
{% endfor %}
</body>
</html>