li.nostyle {
    list-style-type: none;
}
.btn-flat {
    width: 100% !important;
    padding-left: 100px !important;
    text-transform: none !important;
    padding-right: 0px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    height: 50px !important;
    line-height: normal !important;
    font-weight: normal !important;
    font-size: medium !important;
    font-style: normal !important;
}

.nopad {
    padding: 0px !important;
    margin: 0px !important;
}

.tab a.active {
  color:#5e35b1!important;
}

.tab a {
  color:#5e35b1!important;
}

.ProjectDiv{
    display: none;
    padding-top:10px;
    width:100%;
}

.nav-wrapper{
    padding-left: 30px !important;
    height: 40px;
}

.breadnav{
    padding-left: 60px !important;
    overflow: hidden !important;
}

#ProjectTable{
    padding-top:10px !important;
    -webkit-animation-duration: 3s;
}

.addIcon{
    position: absolute !important;
    line-height: 162.5% !important;
    height: 40px !important;
    /*padding-right: 60px !important;*/
}

.addButton{
    position: absolute !important;
    margin-top: 10px !important;
    top: 64px !important;
}

.divider{
    color: rgba(208,208,208,1) !important;
    width:100% !important;
}
